

/* .imgSizeIphone{
    max-width: 800px;
    max-height: 350px;
    
}

.imgSizeMac{
    max-width: 500px;
    max-height: 450px;
    color: rgb(224, 19, 19);
}
.imgSizeIpad{
    max-width: 770px;
    max-height: 320px;
    
}

.imgSizeWatch{
    max-width: 475px;
    max-height: 350px;
    
}

.imgSizeAirpods{
    max-width: 500px;
    max-height: 300px;
    
} */


.arrowSize{
    max-width:40px ;
    max-height: 40px;
}